<section class="content">
    <h2>Abreviatures</h2>
    <h3>Lexicogramaticals</h3>
    <table>
        <tbody>
            <tr><td>adj.</td><td>adjectiu</td></tr>
            <tr><td>adv.</td><td>adverbi</td></tr>
            <tr><td>f.</td><td>nom femení</td></tr>
            <tr><td>interj.</td><td>interjecció</td></tr>
            <tr><td>inv.</td><td>invariable</td></tr>
            <tr><td>loc. adv.</td><td>locució adverbial</td></tr>
            <tr><td>m.</td><td>masculí, nom masculí</td></tr>
            <tr><td>pl.</td><td>plural</td></tr>
            <tr><td>prep.</td><td>preposició</td></tr>
            <tr><td>pron.</td><td>pronom</td></tr>
            <tr><td>v.</td><td>verb</td></tr>
            <tr><td>v. aux.</td><td>verb auxiliar</td></tr>
            <tr><td>v. pron.</td><td>verb pronominal</td></tr>
            <tr><td>v. tr.</td><td>verb transitiu</td></tr>
            <tr><td>v. intr.</td><td>verb intransitiu</td></tr>
            <tr><td>v. intr. pron.</td><td>verb intransitiu pronominal</td></tr>
        </tbody>
    </table>
    <h3>Generals</h3>
    <table>
        <tbody>
            <tr><td>abs.</td><td>absolut</td></tr>
            <tr><td>afec.</td><td>afectiu</td></tr>
            <tr><td>ant.</td><td>antic o antigament; antònim</td></tr>
            <tr><td>aprox.</td><td>aproximadament</td></tr>
            <tr><td>arc.</td><td>arcaic o arcaisme</td></tr>
            <tr><td>augm.</td><td>augmentatiu</td></tr>
            <tr><td>cult.</td><td>cultisme o registre culte</td></tr>
            <tr><td>dial.</td><td>dialectal</td></tr>
            <tr><td>dim.</td><td>diminutiu</td></tr>
            <tr><td>espec.</td><td>especialment</td></tr>
            <tr><td>eufem.</td><td>eufemisme</td></tr>
            <tr><td>fam.</td><td>familiar</td></tr>
            <tr><td>ex.</td><td>exemple</td></tr>
            <tr><td>fig.</td><td>figuradament o sentit figurat</td></tr>
            <tr><td>improp.</td><td>impròpiament</td></tr>
            <tr><td>infant.</td><td>infantil</td></tr>
            <tr><td>intens.</td><td>intensiu</td></tr>
            <tr><td>iròn.</td><td>irònicament</td></tr>
            <tr><td>lit.</td><td>literari</td></tr>
            <tr><td>obs.</td><td>obsolet</td></tr>
            <tr><td>pej.</td><td>pejoratiu</td></tr>
            <tr><td>per ext.</td><td>per extensió o extensivament</td></tr>
            <tr><td>poc us.</td><td>poc usual</td></tr>
            <tr><td>pop.</td><td>popular o registre menys formal</td></tr>
            <tr><td>rel.</td><td>recursos lexicals relacionats amb el significat de l'accepció</td></tr>
            <tr><td>sex.</td><td>sexual</td></tr>
        </tbody>
    </table>
    <h3>Variació dialectal</h3>
    <table>
        <tbody>
            <tr><td>cat. ebr.</td><td>lèxic propi de les Terres de l'Ebre</td></tr>
            <tr><td>cat. eiv.</td><td>lèxic propi d'Eivissa</td></tr>
            <tr><td>cat. ins.</td><td>lèxic propi del català insular (Illes Balears i Pitiüses)</td></tr>
            <tr><td>cat. Mall.</td><td>lèxic propi de Mallorca</td></tr>
            <tr><td>cat. Men.</td><td>lèxic propi de Menorca</td></tr>
            <tr><td>cat. nord-occ.</td><td>lèxic propi del català nord-occidental</td></tr>
            <tr><td>cat. nord-or.</td><td>lèxic propi del català nord-oriental</td></tr>
            <tr><td>cat. occ.</td><td>lèxic propi del català occidental</td></tr>
            <tr><td>cat. or.</td><td>lèxic propi del català oriental</td></tr>
            <tr><td>cat. pir.</td><td>lèxic propi del català pirinenc (Pallars, Ribagorça i altres zones pirinenques)</td></tr>
            <tr><td>cat. ros.</td><td>lèxic propi del català del Rosselló i àrees veïnes</td></tr>
            <tr><td>cat. val.</td><td>lèxic propi del català del País Valencià</td></tr>
        </tbody>
    </table>
</section>
