<section class="content">
    <h2>Instruccions d'ús</h2>
    <p>A partir de la consulta de les diferents entrades s'arriba al coneixement d'una varietat de paraules alternatives que responen, segons el cas, a usos generals, a usos especialitzats, a usos amb un cert matís semàntic o d'estil, etc., per a aconseguir que la persona que empri el diccionari vegi facilitada la tasca de triar la forma més precisa i adequada al context d'ús corresponent.</p>
    <p>A més dels mots alternatius s'ofereixen sinònims, antònims, formes derivades, frases fetes i fins a una tria de proverbis i dites, que són d'ús corrent; i d'aquesta manera el lector pot veure enriquida ràpidament la seva capacitat expressiva. És a dir, que partint d'un miler d'articles, com hem escrit, s'aporten més de divuit mil recursos lexicals entre mots alternatius de tota mena i fraseologia diversa inclosa en les diferents entrades de l'obra.</p>
    <h3>Consulta</h3>
    <p>Els dos mitjans de consulta que permetran al lector un accés més fàcil a la informació del diccionari són:</p>
    <ul>
        <li>En primer lloc, la <strong>Cerca</strong>, que permet la consulta al miler d'articles del cos del diccionari.</li>
        <li>En segon lloc, el <strong>Glossari</strong> en el qual s'arrepleguen vora vuit mil recursos lexicals que apareixen dins l'obra, tot indicant en quina entrada i accepció es poden localitzar.</li>
    </ul>
    <h3>Contingut de l'article</h3>
    <p><strong>El cos de l'obra</strong> està organitzat en un miler llarg d'articles que contenen la informació disposada de la manera següent:</p>
    <p>Cada article és encapçalat per un <strong>lema</strong> o <strong>entrada</strong>.</p>
    <p>Un cop oberta la informació de l'article cercat, podeu veure que se n'especifica la categoria gramatical: <em>m.</em>, <em>f.</em>, <em>v.</em>, <em>adj.</em>, etc.</p>
    <p><strong>La informació continguda dins l'article</strong> es divideix en diferents <strong>accepcions</strong> (o significacions principals), que són precedides per una xifra: <strong>1</strong>, <strong>2</strong>, <strong>3</strong>, <strong>4</strong>, etc.</p>
    <p>Tot just després del número d'accepció s'exposen, entre claudàtors, diversos tipus d'informacions referents a cadascuna de les accepcions:</p>
    <ul>
        <li>una breu definició que contextualitza l'ús de l'accepció,</li>
        <li>la variant de la llengua a la qual pertany,</li>
        <li>l'àmbit d'especialitat en el qual s'empra el mot alternatiu, i</li>
        <li>abreviatures de registres o de marques de matís.</li>
    </ul>
    <p>Fora dels claudàtors, tot seguit, hi trobarem pròpiament els mots alternatius que corresponen a l'accepció de l'entrada que estem consultant. Per exemple, en un primer rengle, tenim:</p>
    <p><strong>1</strong>. [<em>explicació de l'accepció</em>] <em>mot o mots alternatius</em></p>
    <p><strong>Dins de cada número d'accepció</strong>, i després de la informació esmentada anteriorment, podrem trobar els camps <em>a</em>), <em>b</em>), <em>c</em>), <em>d</em>), <em>e</em>) i <em>f</em>), que classifiquen la informació que aportem sobre l'entrada i els mots alternatius que hem proposat:</p>
    <p><em>a</em>) <span class="smallcaps">Explicacions d'ús</span>. En aquest apartat incloem l'explicació o diferents consideracions pertinents sobre el significat del lema de l'entrada i dels mots alternatius, així com exemples d'ús d'aquests mots.</p>
    <p><em>b</em>) <span class="smallcaps">Usos inadequats o estilístics / variants gràfiques o fonètiques</span>. En aquest apartat incloem consideracions sobre possibles usos inadequats de l'entrada i dels mots alternatius, així com recomanacions estilístiques, variants gràfiques, realitzacions fonètiques, etc.</p>
    <p><em>c</em>) <span class="smallcaps">Altres recursos lexicals</span>. En aquest apartat incloem: augmentatius, diminutius i pejoratius; antònims, mots derivats i pertanyents a camps semàntics relacionats en general; són mots que aporten una projecció de significat tant de l'entrada com dels mots alternatius, acompanyats sovint d'exemples d'ús.</p>
    <p>En aquesta edició en línia del DIRELEX trobareu dins d'alguns articles, i com a novetat respecte de les edicions en paper, un recurs lexical complementari anomenat <strong>camps semàntics ampliats</strong>, en els quals arrepleguem conjunts de mots d'una àrea determinada, com és el cas dels oficis, de les professions, de les eines (per exemple els estris de cuina) o d'aliments (per exemple la fruita i la verdura).</p>
    <p>Aquesta informació complementària es troba referenciada en aquest camp o també, ocasionalment, en el camp <em>f</em> ('Explicacions suplementàries').</p>
    <p><em>d</em>) <span class="smallcaps">Modismes i fraseologia</span>. En aquest apartat incloem formes sintagmàtiques, com ara col·locacions, locucions, etc., que podem agrupar en: frases sense verb, frases amb verb i dites.</p>
    <p><em>e</em>) <span class="smallcaps">Etimologia</span>. En aquest apartat incloem informació relacionada amb aspectes etimològics.</p>
    <p><em>f</em>) <span class="smallcaps">Explicacions suplementàries</span>. Finalment, en aquest darrer apartat incloem informació suplementària referent a aspectes singulars de qualsevol mot alternatiu aportat en l'article en qüestió, que per la seva particularitat no ha pogut ser aportada en cap dels camps precedents.</p>
    <h3>Camps semàntics ampliats</h3>
    <p>Els <strong>camps semàntics ampliats</strong> que hem aportat a aquesta versió digital en línia tenen una funció extensiva que anirem desenvolupant progressivament. La raó principal d'aquesta iniciativa ha estat l'ampliació de diferents àrees del lèxic que hem considerat interessants i que ja havíem ofert (de manera incipient) dins de les entrades de l'obra.</p>
    <p>L'estructura del DIRELEX (en les edicions impreses fins avui) pot acceptar ampliacions, però no pot desenvolupar àrees semàntiques extenses sense fer carregosa la consulta dels articles. És per això que hem disposat algunes àrees complementàries en forma de <strong>camps semàntics ampliats</strong>, els quals són accessibles des de les entrades estretament relacionades amb aquests.</p>
    <p>Els camps semàntics ampliats que hem desenvolupat són:</p>
    <ul>
        <li><a href="/camp-semantic/oficis-i-professions">oficis i professions</a></li>
        <li><a href="/camp-semantic/fruita-i-verdura">fruita i verdura</a></li>
        <li><a href="/camp-semantic/estris-de-cuina">estris de cuina</a></li>
        <li><a href="/camp-semantic/eines-de-bricolatge">eines de bricolatge</a></li>
    </ul>
    <p>En aquests camps semàntics no n'adjuntem, en general, les definicions; tan sols hi oferim alguns comentaris que tenen funcions distintives o enriquidores.</p>
    <p>En l'elaboració de les llistes de paraules d'aquests <strong>camps semàntics ampliats</strong> hem tingut en compte les referències bibliogràfiques esmentades anteriorment, tot extremant una tasca de selecció i de depuració dels elements que finalment hi hem inclòs.</p>
    <p>Us recordem que el DIRELEX parteix del bagatge de lèxic bàsic de mil paraules per a multiplicar-lo fins a prop de divuit mil propostes alternatives, tot ajudant a avançar en el domini selectiu i estilístic dels mots.</p>
    <p>Esperem, llavors, que aquests <strong>camps semàntics ampliats</strong> siguin eficaços per a la progressió en el coneixement del lèxic de la nostra llengua.</p>
    <h3>Glossari: concepció</h3>
    <p><strong>Aquest glossari l'hem concebut com un índex alfabetitzat</strong> que permet localitzar informació dins el cos del diccionari i que va més enllà de la cerca directa o de la simple lectura d'un article.</p>
    <p>No ha estat la nostra intenció concebre'l com un "diccionari invers", sinó més aviat com un instrument de cerca i/o consulta que parteix d'una selecció dels mots alternatius que hi tenen un interès lexical més remarcable.</p>
    <p>Tampoc no l'hem pensat com un "llistat d'equivalències" o "un recull o buidatge exhaustiu" de tots els recursos de l'obra, sinó únicament un mitjà auxiliar de consulta i localització d'informació que faciliti l'experiència a qualsevol persona que faci servir aquest diccionari.</p>
    <h3>Glossari: estructura de les remissions</h3>
    <p>El glossari està format pels elements següents:</p>
    <ul>
        <li>l'alternativa lèxica</li>
        <li>guió de separació (—)</li>
        <li>el lema de l'entrada en el qual localitzar la informació (de vegades també hi trobarem paraules que expliquen el significat en què s'usa l'alternativa)</li>
        <li>la xifra de l'accepció presa en consideració (<strong>1</strong>, <strong>2</strong>, <strong>3</strong>, <strong>4</strong>...)</li>
        <li>el punt de classificació de les diferents parts de cada accepció (<em>a</em>, <em>b</em>, <em>c</em>, <em>d</em>, <em>e</em> i <em>f</em>)</li>
    </ul>
    <p>Exemples dels signes de localització que comentem:</p>
    <ul>
        <li>absolució - gràcia 3c</li>
        <li>abeurador - recipient 1c <span class="smallcaps">CS</span></li>
        <li>afamat - fam 1c <span class="smallcaps">Der</span></li>
        <li>contrafort - muntanya 1c <span class="smallcaps">CS</span></li>
    </ul>
</section>
