<section class="content">
    <nav class="page-nav">
        {{ if .PrevLetter }}
            <a href="/lletra/{{ .PrevLetter }}" rel="prev" aria-label="Lletra anterior" title="Lletra anterior"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M13.5 15.808L9.692 12L13.5 8.192z"/></svg></a>
        {{ end }}
        {{ if .NextLetter }}
            <a href="/lletra/{{ .NextLetter }}" rel="next" aria-label="Lletra següent" title="Lletra següent"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path fill="currentColor" d="M10.5 15.808V8.192L14.308 12z"/></svg></a>
        {{ end }}
    </nav>
    <h2><span class="no-bold">Lemes que comencen per </span>{{ .Letter }}</h2>
    <ul class="entries">
        {{ range .Entries }}
            <li><a href="/lema/{{ .Slug }}">{{ .DisplayTitle }}</a></li>
        {{ end }}
    </ul>
</section>
